In [10]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('WineQT.csv')

# Move the 'id' column to the front of the DataFrame
df.insert(0, 'Id', df.pop('Id'))

# Select the desired columns
df = df[['Id', 'pH', 'sulphates', 'alcohol', 'quality']]

# Filter the DataFrame to only include quality ratings of 3, 5, and 7
df = df[df['quality'].isin([3, 5, 7])]

# Sort the DataFrame by quality rating in descending order
df = df.sort_values(by='quality', ascending=False)

# Randomly sample 5 rows from the DataFrame
sampled_df = df[['Id']].sample(n=25)

# Display the resulting DataFrame
sampled_df

import pandas as pd

# Read the CSV file
df = pd.read_csv('WineQT.csv')

# Move the 'id' column to the front of the DataFrame
df.insert(0, 'Id', df.pop('Id'))

# Select the desired columns
df = df[['Id', 'pH', 'sulphates', 'alcohol', 'quality']]

# Filter the DataFrame to only include quality ratings of 3, 5, and 7
df = df[df['quality'].isin([3, 5, 7])]

# Sort the DataFrame by quality rating in descending order
df = df.sort_values(by='quality', ascending=False)

# Randomly sample 5 rows from the DataFrame
sampled_df = df[['Id']].sample(n=25)

# Display the resulting DataFrame
sampled_df

        Id
687    978
453    637
16      23
247    352
5        5
127    179
489    691
187    263
576    801
949   1336
760   1079
624    885
856   1209
510    718
537    753
427    602
1111  1558
150    213
207    289
568    791
370    523
1084  1518
413    578
302    430
742   1056